
		<%- include("./partials/head.ejs") %>
		<h1> Welcome to Jadon's Jolly Jewels, where artistry is abound and genius puzzles perplex!</h1>
		<div>
		<a class="btn btn-primary" href="/games/snake">To the snake game!</a>
		<a class="btn btn-primary" href="/games/stacker">To the stacking game!</a>
		<a class="btn btn-primary" href="/games/pong">To the pong game!</a>
		<a class="btn btn-primary" href="/games/breakout">To the breakout game!</a>
		<a class="btn btn-primary" href="/games/flappy">To the flappy game!</a>
		<a class="btn btn-primary" href="/feedback">Please Give Feedback! Especially bugs!</a>
		</div>
		<img src="https://i.pinimg.com/originals/6d/0b/ab/6d0bab6d09622a9f8bedf13fa098f500.png">
	</body>