<%- include("../partials/head.ejs") %>

<div class="main-content">
	<div id="snakeScore">0</div>
	<div class="canvas">
		<canvas id="gameCanvas" width="600" height="600"></canvas>

		<a id="reset" class="btn btn-primary">Reset Game</a>

		<p>GHOST MODE: <input type="checkbox"></p>
	</div>
	<table>
		<thead>
			<tr><th colspan="2">Personal Leaderboard:</th></tr>
			<tr>
				<th>Place</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody class="personal">
		</tbody>
	<table>
		<thead>
			<tr><th colspan="3">Global Leaderboard:</th></tr>
			<tr>
				<th>Place</th>
				<th>User</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody class="global">
		</tbody>
	</table>
</div>




<script src="/js/snake.js"></script>

</body>
</html>

